<h1><%= @restaurant.name %></h1>

<div class="row">
<%= image_tag @restaurant.image_url(:masthead)%>
</div>
<ul>
  <li> <%=@restaurant.address%> </li>
  <li> <%=@restaurant.phone_number%> </li>
  <li> Owner: <%=@restaurant.owner.name.titleize%></li>
</ul>

<%=image_tag @restaurant.menu_url%>

<% if !current_owner.nil? %>
  <% if current_owner.id == @restaurant.owner_id%>
    <div> <%=link_to 'Edit Restaurant', edit_restaurant_path(:id=>@restaurant.id)%>
    </div>
    <div> <%=link_to 'Delete Restaurant', restaurant_path, method: :delete%>
    </div>
    <br>
    <%= render 'reservation_list' %>
  <% else %>
    <%= render 'reservation_form'%>
  <% end %>
<% else %>
  <%= render 'reservation_form' %>
<% end %>






